#weather-forecast{
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  transition: border-color 1s, color 1s, opacity 1s;
  overflow-y: hidden;
  overflow-x: scroll;
}

#date-time{
  font-size: 12px;
  text-align: center;
}

#time-snap{
  display: flex;
  width: 60px;
  min-height: 140px;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1F618D;
  border-radius: 2px;
  margin: 2px;
  padding: 5px 10px;
}

.even{
  background-color: #DBDCE0;
  color: #1F618D;
}

.odd{
  background-color: #1F618D;
  color: white;
}