#weather-forecast{
  display: flex;
  flex-direction: row;
  border-radius: 2px;
  transition: border-color 1s, color 1s, opacity 1s;
  overflow-y: hidden;
  overflow-x: scroll;
  /* background-color: white; */
  position: sticky;
  top: 80px;
}

#date-time{
  font-size: 12px;
  text-align: center;
}

#time-snap{
  display: flex;
  width: 60px;
  min-height: 140px;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1F618D;
  border-radius: 2px;
  margin: 2px;
  padding: 5px 10px;
}

.even{
  background-color: rgba(219, 220, 224, 0.5);
  color: #1F618D;
}

.odd{
  background-color: rgba(31, 97, 141, 0.7);
  color: white;
}