#park-run-splits{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  padding: 5px;
  color: white;
  background-color: rgba(31, 97, 141, 0.7);
  box-shadow: 0 0 30px 25px rgba(31, 97, 141, 0.7);
  font-size: 16px;
}

.split{
  width: 100%;
}

.spacer{
  min-width: 56px;
  text-align: center;
  pointer-events: none;
}

.date-spacer{
  min-width: 100px;
  pointer-events: none;
}

.name-spacer{
  min-width: 130px;
  pointer-events: none;
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#park-run-result{
  display: flex;
  flex-direction: column;
}

.pb{
  border-bottom: 1px solid #35FF02;
}

.first{
  color: #35FF02;
  font-weight: bold;
}

.second{
  color: #EEFF00;
  font-weight: bold;
}

.third{
  color: #FFA600;
  font-weight: bold;
}

#splits-container{
  height: 80vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media all and (max-width: 500px) {
  .name-spacer{
    display: none;
  }

  .date-spacer{
    min-width: 60px;
  }

  .heading{
    font-size: 14px;
  }

  .spacer{
    min-width: 37px;
  }

  #park-run-name{
    display: none;
  }
}
