#runs{
  border-radius: 2px;
  margin: auto;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  height: 700px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#run-box{
  background-color: #1F618D;
  color: white;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1F618D;
  border-radius: 2px;
  margin: 2px;
  padding: 5px;
  width: 100%;
}

#run-box:hover{
  background-color: #3E9FDF;
}

.run-box__detail{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.run-box__detail h4 {
  margin: -2px;
}

#route-map{
  height: 400px;
  width: auto;
}

.data-metric{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 25px;
  margin: 5px;
} 

@media all and (max-width: 700px) {
  body{
    display: block;
  }

}