<link rel="stylesheet" type="text/css" href="./components/home/home.css">


<div class="container">

  <div class="week-activities">
    <div id="mon">MON</div>
    <div id="tue">TUE</div>
    <div id="wed">WED</div>
    <div id="thu">THU</div>
    <div id="fri">FRI</div>
    <div id="sat">SAT</div>
    <div id="sun">SUN</div>
  </div>



  <div class="year-totals">
    <div class="total-item">DISTANCE
      <div id="year-distance" class="total-item__child"></div>
    </div>

    <div class="total-item">TIME
      <div id="year-time" class="total-item__child"></div>
    </div>

    <div class="total-item">RUNS
      <div id="year-runs" class="total-item__child"></div>
    </div>
  </div>
</div>