<link rel="stylesheet" type="text/css" href="./components/home/home.css">


<div class="container">

  <div class="week-activities">
    <div class="day-title">MON 
      <div id="MON"></div>
    </div>

    <div class="day-title">TUE
      <div id="TUE"></div>
    </div>

    <div class="day-title">WED
      <div id="WED"></div>
    </div>

    <div class="day-title">THU
      <div id="THU"></div>
    </div>

    <div class="day-title">FRI
      <div id="FRI"></div>
    </div>

    <div class="day-title">SAT
      <div id="SAT"></div>
    </div>

    <div class="day-title">SUN
      <div id="SUN"></div>
    </div>
  </div>



  <div class="year-totals">
    <div class="total-item">DISTANCE
      <div id="year-distance" class="total-item__child"></div>
    </div>

    <div class="total-item">TIME
      <div id="year-time" class="total-item__child"></div>
    </div>

    <div class="total-item">RUNS
      <div id="year-runs" class="total-item__child"></div>
    </div>
  </div>
</div>