#home{
  display: block;
}

.container{
  width: 100%;
}

.year-totals{
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.total-item{
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  border-radius: 2px;
  padding: 5px;
  background-color: rgba(31, 97, 141, 0.7);

}

.total-item__child{
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.week-activities{
  flex-direction: column;
  margin-top: 35px;
}

.week-activities>div{
  background-color: rgba(31, 97, 141, 0.7);
  padding: 10px;
  margin: 5px;
  margin-left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-direction: row;

  color: transparent;
  animation-name: day-settle;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  width: 38px;
  height: 25px;
  align-content: center;
  align-items: center;
}

.day-activity{
  margin: 0 30px;
}

#mon{
}
#tue{
}
#wed{
}
#thu{
}
#fri{
}
#sat{
}
#sun{
}

@keyframes day-settle {
    from {
      width: 0px; 
      color: transparent
    }
    to {
      color: white;
      background-color: rgba(31, 97, 141, 0.7);
    }
}

@media all and (max-width: 500px) {
  body{
    font-size: 14px;
  }

.week-activities{
  margin-top: 0px;
}
}