<div class="home-container">
  <div id="distance" class="total-item">DISTANCE
    <div id="month-distance" class="total-item__child"></div>
    <div id="year-distance" class="total-item__child"></div>
    <div id="total-distance" class="total-item__child"></div>
  </div>

  <div id="time" class="total-item">TIME
    <div id="month-time" class="total-item__child"></div>
    <div id="year-time" class="total-item__child"></div>
    <div id="total-time" class="total-item__child"></div>
  </div>

  <div id="run-count" class="total-item">RUNS
    <div id="month-runs" class="total-item__child"></div>
    <div id="year-runs" class="total-item__child"></div>
    <div id="total-runs" class="total-item__child"></div>
  </div>
</div>