#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  padding: 0 5px;
}

.nav-icon{
  width: auto;
  height: 20px;
  margin: 0 5px;
}

#home-button{
  cursor: pointer;
}

#run-club{-button
  cursor: pointer;
  
}

#park-run-button{
  cursor: pointer;
  
}


#other-button{
  cursor: pointer;

}

.hover:hover{
  color: #3E9FDF;
}