#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  padding: 5px 0;
  padding-left: 50px;
  position: sticky;
  top: 0;
  /* background-color: white; */
  opacity: 50%;
}

.nav-icon{
  width: auto;
  height: 30px;
  margin: 0 5px;
}

#home-button{
  cursor: pointer;
}

#run-club-button{
  cursor: pointer;
  
}

#park-run-button{
  cursor: pointer;
  
}


#runs-button{
  cursor: pointer;

}

.hover:hover{
  color: #3E9FDF;
}

@media all and (max-width: 500px) {
 


}