<div class="data hover" id="home" onclick="handleHomeButton()"><img src="./resources/icon_home.png" class="icon"/></div>
<div class="data hover" id="run-club" onclick="handleRunClubButton()"><img src="./resources/icon_run4it.png" class="icon"/></div>
<div class="data hover" id="park-run" onclick="handleParkRunButton()"><img src="./resources/icon_park_run.png" class="icon"/></div>
<div class="data hover" id="long" onclick="handleLongButton()"><img src="./resources/icon_other.png" class="icon"/></div>
