<link rel="stylesheet" type="text/css" href="./components/nav/nav.css">

<div class="data hover" id="home-button" onclick="handleHomeButton()"><img src="./resources/icon_home.png" class="nav-icon"/></div>

<div class="data hover" id="run-club-button" onclick="handleRunClubButton()"><img src="./resources/icon_run4it.png" class="nav-icon"/></div>

<div class="data hover" id="park-run-button" onclick="handleParkRunButton()"><img src="./resources/icon_park_run.png" class="nav-icon"/></div>

<div class="data hover" id="runs-button" onclick="handleRunsButton()"><img src="./resources/icon_runs.png" class="nav-icon"/></div>
