#nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  padding: 5px 0;
  position: sticky;
  top: 0;
  /* background-color: white; */
  opacity: 50%;
}

.nav-icon{
  width: auto;
  height: 40px;
  margin: 0 5px;

  animation-name: resize;
  animation-duration: 2s;
}

@keyframes resize {
    from {height: 60px}
    to {height: 40px }
}

#home-button{
  cursor: pointer;
}

#run-club-button{
  cursor: pointer;
  
}

#park-run-button{
  cursor: pointer;
  
}


#runs-button{
  cursor: pointer;

}

.hover:hover{
  color: #3E9FDF;
}

@media all and (max-width: 500px) {
  .nav-icon{
    height: 30px;

    animation-name: resize;
    animation-duration: 2s;
  }

  @keyframes resize {
      from {height: 40px}
      to {height: 30px }
  }

  


}