<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
<link rel='import' href='../stylesheets/main.css'>

<weather-now>
  <div id="weather"> 
    <div class="data"><img src="./resources/icon_forecast.png" class="icon"/><span id="forecast" > </span></div>
    <div class="data"><img src="./resources/icon_thermometer.png" class="icon"/><span id="temperature"></span> </div>
    <div class="data"><img src="./resources/icon_wind_sock.png" class="icon"/><span id="wind" class="p"></span> </div>
    <div class="option-more" id="weather-option" onclick="moreWeather()">+</div>
  </div>
</weather-now>