#park-runs{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding: 5px;
  color: white;
  background-color: rgba(31, 97, 141, 0.7);
  font-size: 14px;
}

#park-run-result{
  display: flex;
  flex-direction: column;
}

@media all and (max-width: 500px) {
  #park-runs, .heading{
    font-size: 10px;
  }

  #park-run-name{
    display: none;
  }

  

}
