#park-run-graphs{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(31, 97, 141, 0.7);
  box-shadow: 0 0 30px 0025px rgba(31, 97, 141, 0.7);
  font-size: 16px;
  height: 85%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 20px;
}

#km-chart{
  height: 100%;
}