#run-box{
  background-color: rgba(31, 97, 141, 0.7);
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  margin: 1px 2px;;
  padding: 5px;
  cursor: pointer;
}

.activity-summary__heading{
  font-size: 14px;
  font-weight: bold;
}

#activity-info__date{
  min-width: 95px;
  justify-content: flex-end;
}

#run-box:hover{
  background-color: rgba(31, 97, 141, 1);
}

#run-box * {
  pointer-events: none;
}

.date{
  width: 200px;
  text-align: right;
}

.run-box__detail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.run-box__detail h4 {
  margin: -2px;
  font-size: 14px;
}

.date-metric{
  font-size: 12px;
}

@media all and (max-width: 400px) {
  .activity-summary__heading{
    max-width: 235px;
  }

  .date{
    width: auto;
  }
}