#park-run-home{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding: 5px;
  color: white;
  background-color: rgba(31, 97, 141, 0.7);
  box-shadow: 0 0 30px 25px rgba(31, 97, 141, 0.7);
  font-size: 16px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 85%;
}

#park-run-logo{
  height: 65px;
  width: auto;
}

#last-pr{
  font-size: 14px;
  width: 100%;
}

#park-run-latest{
  align-items: flex-start;
  width: 100%;
}

#last-pr__date{
  margin-bottom: 10px;
}

.last-pr__metric{
  width: 100%;
  font-size: 28px;
}

#last-pr__pace{
  margin-right: 10px;
}

.bottom-nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 30px;
}

.bottom-nav__button{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  border-radius: 2px;
  padding: 5px;
  cursor: pointer;
}


@media all and (max-width: 500px) {

}
