#park-run-home{
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(31, 97, 141, 0.7);
  box-shadow: 0 0 30px 0025px rgba(31, 97, 141, 0.7);
  font-size: 16px;
}

#park-run-logo{
  height: 65px;
  width: auto;
}

#last-pr{
  font-size: 14px;
  width: 100%;
}

.last-pr__summary{
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#park-run-latest{
  align-items: flex-start;
  width: 100%;
}

#last-pr__date{
  margin-bottom: 10px;
}

.last-pr__metric{
  width: 225px;
  font-size: 28px;
}

#last-pr__pace{
  margin-right: 10px;
}

#pr-matrix{
  position: relative;

}

@media all and (max-width: 500px) {

}
