#run-club-home{
  display: block;
  flex-direction: column;
  color: white;
  background-color: rgba(31, 97, 141, 0.7);
  box-shadow: 0 0 30px 0025px rgba(31, 97, 141, 0.7);
  font-size: 16px;
  height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 20px;  
}

#club-hero{
  position: relative;
  filter: drop-shadow(8px 8px 10px rgba(31, 97, 141, 0.9));  
}

#rc-image {
  display: none;
}

#rc-name-container{
  z-index: 1;
  position: relative;
  bottom: 12%;
  width: 100vw;
  height: 55px;
  display: flex;
  justify-content: center;
}

#run4it-logo{
  height: 25px;
  width: auto;
  z-index: 2;
  margin: 0 5px;
}

#rc-name{
  display: flex;
  justify-content: center;
}

#last-rc{
  font-size: 14px;
  width: 100%;
}

.last-rc__summary{
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#rc-latest{
  justify-content: center;
  width: 100%;
  height: 100px;
  display: flex;
  filter: drop-shadow(8px 8px 10px rgba(31, 97, 141, 0.9));
}

#last-rc__name{
  width: unset;
}

#last-rc__date{
  margin-bottom: 10px;
}

.last-rc__metric{
  width: 100%;
  font-size: 22px;
}

#last-rc__pace{
  margin-right: 10px;
}

@media all and (max-width: 500px) {
  .rc-year-totals{
    font-size: 14px;
  }

  #rc-image{
    display: block;
    width: 100vw;
    height: auto;
  }

  #rc-name-container{
    position: absolute;
    height: unset;
  }
}
