#runs{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 92%;
}

#route-map{
  height: 400px;
  width: auto;
}

.data-metric{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  height: 35px;
  max-width: auto;
}

.month-summary {
  background: white;
  color: rgba(31, 97, 141, 0.9);
  text-align: center;
}


@media all and (max-width: 700px) {
  body{
    display: block;
  }

  .data-metric{
    font-size: 12px;
  }
}