#run-club{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding: 5px 7px;
  color: white;
  background-color: #1F618D;
  font-size: 14px;
}

.icon-metric{
  height: 15px;
  width: auto;
  margin: 0 3px;
}

@media all and (max-width: 500px) {
  #run-club, .heading{
    font-size: 10px;
  }

  .icon-metric{
    height: 7px;
  }

}