#run-club{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding: 5px;
  color: white;
  background-color: #1F618D;
}

  .icon-metric{
    height: 15px;
    width: auto;
    margin: 0 3px;
  }
@media all and (max-width: 700px) {
  #run-club{
    font-size: 11px;
  }

}