#home{
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 70%;
}

#week-header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  height: 40px;
}

.container{
  width: 100%;
}

.year-totals{
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.total-item{
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  border-radius: 2px;
  padding: 5px;
  background-color: rgba(31, 97, 141, 0.7);
}

.total-item__child{
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.week-activities{
  flex-direction: column;
  margin-top: 25px;
}

.day{
  display: flex;
  align-items: center;
  background-color: rgba(31, 97, 141, 0.7);
  padding: 10px;
  width: 27px;
  height: 25px;
  margin: 2px 0;
  pointer-events: none;
}

.day-title {
  background-color: rgba(31, 97, 141, 0.7);
  padding: 10px 0;
  margin-left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-direction: row;
  color: white;
  animation-name: day-settle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  height: 25px;
  align-content: center;
  align-items: center;
  width: 0px;
}

.day-activity{
  margin: 0 30px;
}

.day-title--active{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: transparent;
  animation-name: day-settle--active;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  align-content: center;
  align-items: center;
  padding-left: 5px;
  padding-right: 10px;
  cursor: pointer;
  overflow-x: scroll;
  overflow-y: hidden;
} 

.day-title--active > div{
  margin-left: 20px;
}

.day-num{
  display: block;
  padding: 0 10px;
  font-weight: bold;
  animation-name: blink-animation;
  animation-duration:  1s;
  animation-delay: 1s;
  animation-iteration-count: 10;
  -webkit-animation-name: blink-animation;
  -webkit-animation-duration:  1s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: 10;
}

@keyframes blink-animation {
  to {
    color: #3E9FDF;
  }
}
@-webkit-keyframes blink-animation {
  to {
    color: white;
  }
}

.activity-div{
  padding-right: 10px;
}

@keyframes day-settle {
    from {
      width: 0px; 
    }
    to {
      width: 10px;
    }
}

@keyframes day-settle--active {
  from {
    width: 37px; 
    color: transparent
  }
  to {
    width: 79%;
    color: white;
  }
}

@media all and (max-width: 500px) {
  body{
    font-size: 14px;
  }

  .week-activities{
    margin-top: 0px;
  }
}
