#home{
  display: block;
}

#week-header{
  display:flex;
  justify-content: space-between;
  margin: 10px;
}

.container{
  width: 100%;
}

.year-totals{
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.total-item{
  font-weight: bold;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  border-radius: 2px;
  padding: 5px;
  background-color: rgba(31, 97, 141, 0.7);
}

.total-item__child{
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.week-activities{
  flex-direction: column;
  margin-top: 25px;
}

.day{
  background-color: rgba(31, 97, 141, 0.7);
  padding: 13.5px;
  width: 24px;
}

.day-title {
  background-color: rgba(31, 97, 141, 0.7);
  padding: 10px 0;
  margin: 5px;
  margin-left: 0px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-direction: row;
  color: white;
  animation-name: day-settle;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  height: 25px;
  align-content: center;
  align-items: center;
  width: 0px;
}

.day-activity{
  margin: 0 30px;
}

.day-title--active{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: transparent;
  animation-name: day-settle--active;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  align-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
} 

.day-title--active > div{
  margin-left: 20px;
}

@keyframes day-settle {
    from {
      width: 0px; 
    }
    to {
      width: 10px;
    }
}

@keyframes day-settle--active {
  from {
    width: 37px; 
    color: transparent
  }
  to {
    width: 79%;
    color: white;
  }
}

@media all and (max-width: 500px) {
  body{
    font-size: 14px;
  }

  .week-activities{
    margin-top: 0px;
  }

  .day{
    padding: 14.5px 9px;
  }

  .day-title{
    margin: 2px 0;
  }
}